body {
    background-color: rgb(146, 250, 114);
    height: 80vh;
    width: 100vw;
    margin: 0px;
}

main {
    display: flex;
    /* justify-content: flex-end; */

}

h4 {
    margin: 10px 0px;
}

#new-highscore {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    border: 10px black solid;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#new-highscore button {
    height: 50px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: darkgreen;
    color: white;
    border: 10px black double;
    font-size: 75%;
    width: 125px;
}

#new-highscore input {
    margin-left: 50px;
    height: 30px;
    background-color:rgb(74, 221, 37);
}

#new-highscore h3 {
    margin-left: 10px;
}

#scores {
    border: 10px solid black;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    width: 200px;
    text-align: center;
}

#scores h2 {
    margin: 10px 0px;
}

#scores h3 {
    text-decoration: underline;
}

#navbar {
    width: 100vw;
    height: 50px;
    background-color: rgb(15, 153, 15);
    margin-bottom: 20px;
    margin-top: 0px;
}

select {
    display: inline-block;
    margin-left: 40vw;
    height: 30px;
    width: 75px;
    background-color:rgb(74, 221, 37);
}

#navbar h3 {
    padding: 20px 10px 10px 10px;
    display: inline-block;
    margin-left: 1vw;
    margin-top: 0px;
}

#container {
    width: 50vh;
    height: 50vh;
    display: grid;
    border: 10px solid black;
    margin: 0px auto;
    background-color: darkgreen;
}

.spin {
    transition: transform 1s ease-in;
    transform: rotate(360deg);
}

.tile {
    background-color: rgb(74, 221, 37);
    text-align: center;
    border: .5px black solid;
    font-size: 200%;
    display: grid;
    align-content: center;
}

.moveRight {
    transition: transform .3s ease-in;
    transform: translateX(100px);
}

.moveLeft {
    transition: transform .3s ease-in;
    transform: translateX(-100px);
}

.moveUp {
    transition: transform .3s ease-in;
    transform: translateY(-100px);
}

.moveDown {
    transition: transform .3s ease-in;
    transform: translateY(100px);
}

.blank {
    background-color: none;
    border: .5px black solid;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 70px;
    text-align: center;
    font-size: 300%;
}

.hide {
    visibility: hidden;
}

#buttons {
    text-align: center;
}

#buttons button {
    padding: 10px 50px;
    background-color: darkgreen;
    color: white;
    border: 10px black double;
}

button:hover {
    background-color: rgb(12, 113, 12);
}

button:active {
    background-color: darkgreen;
}

